# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
.pnp/
.pnp.js

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db